body *{
    font-family: 'Oswald', sans-serif;
	padding: 0;
    border: 0;
}

/*Seccion Navbar*/
.text-right{
    justify-content: flex-end;  
}

a{
    font-size: 16px;
}

.m{

    font-weight: bolder;
    font-size: 40px;
}

.bg-navbar{
    background-color: #660066;
}

.bg_hero{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    display: block;
    margin: auto;       
}

.navbar-toggler{
    border-color: #ffffff;
    --background-color: #ffffff;

}

/*Seccion Header*/

.mujer > img{
    width: 320px;
    height: 507px;
    object-fit: cover;
    }
    
    @media (min-width: 768px) {
        .mujer > img{
            width: 100vw !important;
            height: 737px !important; 
        }
        .titulo1{
            font-size: 72px !important;
        }
        
        .titulo2{
            font-weight: bolder;
            font-size: 72px !important;
        }
        .miexperiencia{
            font-size: 52px !important;
        }
        .lastwork{
            font-size: 52px !important;
        }
        .contact{
            font-size: 52px !important;
        }
        .linea{
            color: #373A3C;
            width: 15% !important;
            margin: 35px 470px !important;    
        }
        .workline{
            color: #ffffff;
            width: 15% !important;
            margin: 35px 470px !important;
            margin-bottom: 50px !important;
        }
        
    }

.titulos{  
    position: absolute;
    bottom: 6px; 
    left: 50%;
    transform: translatex(-50%);   
}

hr {
    border-color: #ffffff;
    opacity: 1;
    padding: 1px;
}

.titulo1{
    font-size: 40px;
}

.titulo2{
    font-weight: bolder;
    font-size: 40px;
}

/*Sección Parrafos*/

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.linea{
    color: #373A3C;
    width: 35%;
    margin: 16px 95px;    
}

.parrafo1{
    line-height: 40px;
    width: 460px;
    font-size: 16px;
    word-spacing: 0.16px;
}

.parrafo2{
    line-height: 40px;
    width: 460px;
    font-size: 16px;
    word-spacing: 0.16px;
}

/*Sección Mi Experiencia*/

.miexperiencia{
    color: #373A3C;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

.icons{
    text-align: center;
    margin: 20px;
    color: #660066;
}

.name{

    color: #000000;
    font-weight: bolder;
    font-size: 25px;
}

.date{
    font-size: 25px;
    color: #000000;
}

/*Sección Mis Últimos Trabajos*/

.bg-work{
    background-color: #660066;
}

.lastwork{
    color: #ffffff;
    font-weight: bolder;
    padding: 10px;
    font-size: 35px;
}

.workline{
    color: #ffffff;
    width: 35%;
    margin: 16px 95px;
    margin-bottom: 50px;
}

.card{
    margin-bottom: 20px;
}

/*Sección Contacto*/

.contact{
    font-weight: bolder;
    font-size: 35px;
    color: #373A3C;
}

/*Sección Footer*/

.bg-footer{
    background-color: #660066;
    color: #ffffff;
}

.magdalena{
    font-weight: bolder;
    font-size: 40px;
}